
body {
  margin: 10px;
  min-width: 200px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
   
  cursor: pointer;
  position: relative;
  padding: 12px 80px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
}

/* Set all odd list items to a different color (zebra-stripes) */
/* ul li:nth-child(odd) {
  background: #f9f9f9;
} */

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    float: right;
    margin-right:112px;
  } */

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: powderblue;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 73%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.mid
{
    border:none;
    margin-top:10px;
    padding: 10px;
    width: 25%;
    background:lightgoldenrodyellow;
    color: #555;
    float: middle;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  
}
/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: mediumpurple;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.right
{
    float: right;
    margin-right:112px;
}

.strike
{
    background: #888;
  text-decoration: line-through;
}