<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"> -->
    <link rel="stylesheet" href="index.css">
    <!-- <style>
        .container {
            max-width: 960px;
            margin: 0 auto;
        }
        h1 {
        	padding-top: 40px;
        }
    </style> -->
    <title>To-Do List</title>
    <script src="vue.js"></script>
   
</head>
<body>
    <div id="app">
        <div class="header">
        <h1>To-Do List</h1>
        <div v-if="!isEditing">
            <input type="text" placeholder="Title..." v-model="todo">
            <input type="submit" class="addBtn" value="Add" @click="addTodo">
            
        </div>
        
        <div v-else>
            <input type="text" v-model="todo">
            <input type="submit" class="addBtn" value="update" @click="updateTodo">
            <button class="mid" value="Go back" @click="goBack">Go Back</button>
            
        </div>
        </div>

        <div>
            <ul>
                <li v-for="(todo,index) in todos">
                    {{todo}}
                    <button :disabled="isActive"  style="background-color:lightsalmon;float:right;" @click="deleteTodo(index)">Delete</button>
                    <button :disabled="isActive" style="background-color:lightpink" class="right" @click="editTodo(index,todo)">Edit</button>
                    <button :disabled="isActive" style="background-color:lightgreen" class="right" @click="createCompleted(index,todo)">Completed</button>                
                </li>
               
            </ul>
        </div>
        <div v-if="completed.length">
            <h1 style="text-align: center;">Completed todos</h1>
        <ul>
            <li class="strike"  v-for="(task,index) in completed">
                {{task}}
            </li>
        </ul>
        </div>    
        <div v-else><h1 style="text-align: center;">Nothing completed yet</h1></div>
        <script src="app.js"></script> 
    </div>
</body>
</html>