<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="index.css">
    <title>To-Do List</title>
    <script src="vue.js"></script>
   
</head>
<body>
    <div id="app">
        <div class="header">
            <h1>To-Do List</h1>
            <div v-if="!isEditing">
                <input type="text" placeholder="Title..." v-model="todo">
                <input type="submit" class="addBtn" value="Add" @click="addTodo">
                
            </div>     
            <div v-else>
                <input type="text" v-model="todo">
                <input type="submit" class="addBtn" value="update" @click="updateTodo">
                <button class="mid" value="Go back" @click="goBack">Go Back</button>                
            </div>
        </div>

        <div>
            <ul>
                <li v-for="(todo,index) in todos">
                    {{todo}}
                    <button :disabled="isActive" style="background-color:lightsalmon;float:right;" @click="deleteTodo(index)">Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
                    <button :disabled="isActive" style="background-color:lightpink" class="right" @click="editTodo(index,todo)">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button :disabled="isActive" style="background-color:lightgreen" class="right" @click="createCompleted(index,todo)">Completed <i class="fa fa-check" aria-hidden="true"></i></button>                
                </li>             
            </ul>
        </div>
        <div v-if="completed.length">
            <h3 style="text-align: center;">Total Completed To-Dos:{{completed.length}}</h3>
            <ul>
                <li class="strike"  v-for="(task,index) in completed">
                    {{task}}
                </li>
           </ul>
        <button class="right" style="margin-top: 20px; background-color:azure;"  @click="deleteAll">delete all completed todos <i class="fa fa-trash" aria-hidden="true"></i></button>
        
        </div>    
        <div v-else><h3 style="text-align: center;">Nothing in the Completed List</h3></div>
        <script src="app.js"></script> 
    </div>
</body>
</html>
